<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Minisol Assist</title>
	<meta name="description" content="Развиваем ваши интернет-продажи. Каждый день." />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1" />
	<meta name="google" content="notranslate" />
	<meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="icon" type="image/gif" sizes="16x16 32x32 64x64" href="/favicon-64x64.gif" />
</head>
<body>
	<div id="loader">
		<div class="cssload-thecube">
			<div class="cssload-cube cssload-c1"></div>
			<div class="cssload-cube cssload-c2"></div>
			<div class="cssload-cube cssload-c4"></div>
			<div class="cssload-cube cssload-c3"></div>
		</div>
	</div>
	<header class="header">
		<div class="logo">
			<a class="logo-link" href="/index.php" title="Minisol">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 115.52 20.69">
					<path d="M21.7,20.34v-20h-6L10.84,12.42,6,0.33H0v20H4.27v-14l5.64,14h1.86l5.64-14v14H21.7Zm8,0v-20H25.43v20h4.26Zm21.57,0v-20H47V12.9L37.72,0.33H33.34v20H37.6v-13l9.54,13h4.11Zm8,0v-20H55v20h4.26Zm10.7,0.36c5.4,0,8-2.76,8-6.42,0-7.47-11.49-5.34-11.49-8.52,0-1.2,1-2,2.85-2a8.6,8.6,0,0,1,5.82,2.19l2.37-3.12A11.13,11.13,0,0,0,69.69,0C65,0,62.1,2.79,62.1,6.12c0,7.53,11.52,5.1,11.52,8.64,0,1.14-1.14,2.22-3.48,2.22a8.77,8.77,0,0,1-6.36-2.7l-2.31,3.24a11.41,11.41,0,0,0,8.46,3.18h0Zm19.79,0a10.05,10.05,0,0,0,10.47-9.62q0-.36,0-0.73a10.46,10.46,0,0,0-20.91,0A10,10,0,0,0,89,20.7h0.71Zm0-3.78c-3.69,0-6.06-2.85-6.06-6.57S86,3.78,89.71,3.78,95.8,6.6,95.8,10.35s-2.41,6.57-6.09,6.57h0Zm25.82,3.42V16.59h-8.46V0.33h-4.26v20h12.72Z"/>
				</svg>
			</a>
		</div>
	</header>

	<div class="assist-wrap">

	<div class="media">
		<a class="call-end" href="#" id="call-end-triggered">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M86.5,31.3l-0.2-0.1c-3.5-1.6-7.2-2.9-10.8-4l-0.1,0l0,0c-16.3-4.9-33.6-5-50.1-0.7l0,0l-0.1,0   c-3.5,0.9-12.8,4.3-13.5,4.6c-0.1,0-0.2,0.1-0.2,0.1c0,0,0,0,0,0C3.3,35.5-0.7,45,2.4,53.9l0.7,1.9c1.7,5,7.2,7.7,12.2,6l10.5-3.6   c5-1.7,7.7-7.2,6-12.2l-0.8-2.5c12.6-3,25.7-2.7,38.1,0.9l-0.8,2.2c-1.9,5,0.6,10.5,5.5,12.4l10.4,4c5,1.9,10.5-0.6,12.4-5.5   l0.7-1.9C100.9,45.8,96.1,35,86.5,31.3z M52.3,72V49.7h-7.7v22.4l-5.7-5.7l-4.8,4.8l14.3,14.3l14.3-14.3l-4.8-4.8L52.3,72z"/></svg>
		</a>
		<span id="videos"></span>
		
	</div>

	<div class="chat">
		<ol class="message-list" id="message-list">
			<!-- <li class="message-wrap message-my-not">
				<span class="message">
					Очень длинное тестовое сообщенние в этом коротком чате написанном сегодня вечером или утром уже не разобрать.
				</span>
			</li>
			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-google-search.png" />
					</span>
					<span class="message-assist-query">поискать</span>
				</a>
			</li>
			<li class="message-wrap message-my">
				<span class="message">Ответ</span>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-afisha.png" />
					</span>
					<span class="message-assist-query">какие планы на сегодня</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-airbnb.png" />
					</span>
					<span class="message-assist-query">цены на квартиры</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-google-gmail.png" />
					</span>
					<span class="message-assist-query">проверь почту</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-google-translate.png" />
					</span>
					<span class="message-assist-query">на английском</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-vk.png" />
					</span>
					<span class="message-assist-query">вконтакте</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-yandex-market.png" />
					</span>
					<span class="message-assist-query">сколько стоит</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-yandex-news.png" />
					</span>
					<span class="message-assist-query">новости</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-yandex-weather.png" />
					</span>
					<span class="message-assist-query">температура</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-yandex.png" />
					</span>
					<span class="message-assist-query">найдётся всё</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/logo-youtube.png" />
					</span>
					<span class="message-assist-query">посмотреть видео</span>
				</a>
			</li>

			<li class="message-wrap message-assist">
				<a class="message-assist-link" href="#">
					<span class="message-assist-wrap-preview">
						<img class="message-assist-preview" src="/img/services/money-exchange.png" />
					</span>
					<span class="message-assist-query">курс доллара</span>
				</a>
			</li> -->

		</ol>
		<form class="message-new">
			<a class="message-new-send" href="#" id="send-new-message"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M14 8c-.256 0-.512-.098-.707-.293l-5.293-5.293-5.293 5.293c-.391.391-1.023.391-1.414 0s-.391-1.023 0-1.414l6-6c.391-.391 1.023-.391 1.414 0l6 6c.391.391.391 1.023 0 1.414-.195.195-.451.293-.707.293zM8 16c-.552 0-1-.447-1-1v-14c0-.552.448-1 1-1s1 .448 1 1v14c0 .553-.448 1-1 1z"/></svg></a>
			<textarea class="message-new-text" placeholder="Сообщение" id="message-text"></textarea>
		</form>
	</div>
</div>




	<script type="text/javascript" src="//cdn.voximplant.com/voximplant.min.js"></script>
	<script type="text/javascript" src="/js/libs/socket.io.js"></script>
	<script type="text/javascript" src="/js/libs/jquery.min.js"></script>
	<script type="text/javascript" src="/js/libs/helper.js"></script>
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>

</body>
</html>